# **Training**



___



**Lists**

In [1]:
a = [3,4,56,78,9]

In [2]:
a

[3, 4, 56, 78, 9]

In [ ]:
a[0] = 'stx'

In [4]:
a

['stx', 4, 56, 78, 9]

In [5]:
a[-1] = 'last'

In [7]:
a[0:10]

['stx', 4, 56, 78, 'last']

In [8]:
a[0:2]

['stx', 4]

In [9]:
a[3:]

[78, 'last']

___
**Tuples**

In [12]:
b = (5,6,7)
b

(5, 6, 7)

___
**Dictionary**

In [14]:
c = {1 : 'one',2 : 'two',3 : 'three'}
c

{1: 'one', 2: 'two', 3: 'three'}

In [16]:
for i in range(1,4):
    print (c[i])

one
two
three

In [17]:
c.keys()

dict_keys([1, 2, 3])

In [23]:
## c.values()[0] = 'ONE' ##
c[1] = 'ONE'
c.values()

dict_values(['ONE', 'two', 'three'])

In [24]:
for i, r in c.items():
    print(i,r)

1 ONE
2 two
3 three

___
<br>

**write 5 number in list and sum
create dictionary with student names and marks
print name and marks**

In [27]:
list_a = [0,8,20,30,537]
list_a

[0, 8, 20, 30, 537]

In [29]:
x = 0
for i in list_a:
    x += i
x

595

In [31]:
student_grades = {'Jacob' : 'A', 'Bev' : 'C', 'Dressing' : 'F', 'Dennis' : 'D'}
student_grades

{'Jacob': 'A', 'Bev': 'C', 'Dressing': 'F', 'Dennis': 'D'}

In [40]:
for i, r in student_grades.items():
    print("Student: " + i + "\nMark:    " + r)

Student: Jacob
Mark:    A
Student: Bev
Mark:    C
Student: Dressing
Mark:    F
Student: Dennis
Mark:    D

In [41]:
sum(list_a)

595

In [42]:
max(list_a)

537

In [46]:
list_a*3

[0, 8, 20, 30, 537, 0, 8, 20, 30, 537, 0, 8, 20, 30, 537]

In [73]:
list_a.append(30)
list_a

[10, 8, 20, 537, 30, 4, 56, 78, 30, 30]

In [50]:
list_a.insert(0,10)
list_a

[10, 0, 8, 20, 30, 537, 30, 30]

In [51]:
list_a.extend(a)
list_a

[10, 0, 8, 20, 30, 537, 30, 30, 'stx', 4, 56, 78, 'last']

In [56]:
list_a.remove(0)
list_a

[10, 8, 20, 30, 537, 30, 30, 'stx', 4, 56, 78, 'last']

In [60]:
for i in range(len(list_a)):
    if(type(list_a[i]) != int):
        list_a[i] = 0
list_a

[10, 8, 20, 30, 537, 30, 30, 0, 4, 56, 78, 0]

In [61]:
sum(list_a)

803

In [67]:
for i in range(len(list_a)):
    if(i > len(list_a)):
        break
    if(list_a[i] == 0):
        list_a.pop(i)
        i -= 1
list_a

[10, 8, 20, 30, 537, 30, 30, 4, 56, 78]

In [74]:
##list_a.remove(30)
list_a

[10, 8, 20, 537, 30, 4, 56, 78, 30, 30]

In [84]:
list(filter(lambda j: j != 30, list_a))

[10, 8, 20, 537, 4, 56, 78]

In [85]:
list(filter((30).__ne__, list_a))

[10, 8, 20, 537, 4, 56, 78]

In [86]:
list_a

[10, 8, 20, 537, 30, 4, 56, 78, 30, 30]

In [96]:
list_b = list(range(0,11))
list_b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [97]:
[list_b.remove(i) for i in [1,2,3]]
list_b

[0, 4, 5, 6, 7, 8, 9, 10]


___

# **SQL**

In [99]:
import sqlite3

In [136]:
conn = sqlite3.connect("mysql.db")

SQL server: <br>
multiple databases <br>
on which we can create multiple tables <br>
each table has columns name and row

In [137]:
cur = conn.cursor()

In [130]:
cur.execute("""
    CREATE TABLE student(
        st_id INTEGER,
        st_name TEXT,
        st_marks DECIMAL,
        st_subjects TEXT
        )
""")

OperationalError: table student already exists

In [138]:
cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
cur.fetchall()

[('student',)]

In [139]:
st_data = [(1,'ali',45,'chem'),(3,'ahmed',50,'calc')]
st_data

[(1, 'ali', 45, 'chem'), (3, 'ahmed', 50, 'calc')]

In [141]:
cur.executemany("INSERT INTO student (st_id,st_name,st_marks,st_subjects) VALUES (?,?,?,?)", st_data)
cur.execute("SELECT * FROM student").fetchall()

In [146]:
cur.execute("SELECT COUNT(*), AVG(st_marks) FROM student").fetchone()

(2, 47.5)

In [149]:
conn.commit()

In [150]:
conn.close()

In [151]:
cur.fetchall()

ProgrammingError: Cannot operate on a closed database.

# **Assignment**

Create the following tables:
Departments (dept_id, dept_name, hod_name)<br>
Students (student_id, name, class, dept_id)<br>
Subjects (subject_id, subject_name, dept_id)<br>
Marks (mark_id, student_id, subject_id, marks)<br>
Insert:
At least 2 departments, 5 students, 4 subjects, and marks for each student in all subjects

In [18]:
import sqlite3
conn = sqlite3.connect("university.db")
cur = conn.cursor()

In [19]:
cur.execute("""
    CREATE TABLE departments(
        dept_id INTEGER PRIMARY KEY ,
        dept_name TEXT,
        hod_name TEXT
        )
""")
cur.execute("""
    CREATE TABLE students(
        student_id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT,
        class TEXT,
        dept_id INTEGER,
        FOREIGN KEY (dept_id) REFERENCES departments(dept_id)
        )
""")
cur.execute("""
    CREATE TABLE subjects(
        subject_id INTEGER PRIMARY KEY AUTOINCREMENT,
        subject_name TEXT,
        dept_id INTEGER,
        FOREIGN KEY (dept_id) REFERENCES departments(dept_id)
        )
""")
cur.execute("""
    CREATE TABLE marks(
        mark_id INTEGER PRIMARY KEY AUTOINCREMENT,
        student_id INTEGER,
        subject_id INTEGER,
        mark DECIMAL,
        FOREIGN KEY (student_id) REFERENCES students(student_id),
        FOREIGN KEY (subject_id) REFERENCES subjects(subject_id)
        )
""")

OperationalError: table departments already exists

In [20]:
math = (10001, 'Math', 'Anderson')
english = (10111, 'English', 'Pratchet')
departments = [math,english]
cur.executemany("INSERT INTO departments(dept_id, dept_name, hod_name) VALUES (?,?,?)", departments)
cur.execute("SELECT * FROM departments").fetchall()

IntegrityError: UNIQUE constraint failed: departments.dept_id

In [21]:
students = [( "Margaret", 3, 10111),
           ( "Robert", 2, 10001),
           ( "Jenna", 1, 10001),
           ( "Timothy", 4, 10111),
           ( "Thomas", 1, 10111)]
cur.executemany("INSERT INTO students(name, class, dept_id) VALUES (?,?,?)", students)
cur.execute("SELECT * FROM students").fetchall()

[(1, 'Margaret', '3', 10111),
 (2, 'Robert', '2', 10001),
 (3, 'Jenna', '1', 10001),
 (4, 'Timothy', '4', 10111),
 (5, 'Thomas', '1', 10111),
 (6, 'Bryce', '4', 10001),
 (7, 'Margaret', '3', 10111),
 (8, 'Robert', '2', 10001),
 (9, 'Jenna', '1', 10001),
 (10, 'Timothy', '4', 10111),
 (11, 'Thomas', '1', 10111)]

In [22]:
subjects = [( "Advanced Platonics", 10111),
           ( "Linear Algebra", 10001),
           ( "Calc II", 10001),
           ( "Philosophy 101", 10111),
           ( "Thermodynamics", 10001)]
cur.executemany("INSERT INTO subjects( subject_name, dept_id) VALUES (?,?)", subjects)
cur.execute("SELECT * FROM subjects").fetchall()

[(1, 'Advanced Platonics', 10111),
 (2, 'Linear Algebra', 10001),
 (3, 'Calc II', 10001),
 (4, 'Philosophy 101', 10111),
 (5, 'Thermodynamics', 10001),
 (6, 'Calc II', 10001),
 (7, 'Advanced Platonics', 10111),
 (8, 'Linear Algebra', 10001),
 (9, 'Calc II', 10001),
 (10, 'Philosophy 101', 10111),
 (11, 'Thermodynamics', 10001)]

In [23]:
marks = []
for i in range(len(students)):
    for r in range(len(subjects)):
        marks.append(( i+1, r+1, 100-r+i/10-1*i**2)) 
cur.executemany("INSERT INTO marks(student_id, subject_id, mark) VALUES (?,?,?)", marks)
cur.execute("SELECT * FROM marks").fetchall()

[(1, 1, 1, 100),
 (2, 1, 2, 99),
 (3, 1, 3, 98),
 (4, 1, 4, 97),
 (5, 1, 5, 96),
 (6, 2, 1, 99.1),
 (7, 2, 2, 98.1),
 (8, 2, 3, 97.1),
 (9, 2, 4, 96.1),
 (10, 2, 5, 95.1),
 (11, 3, 1, 96.2),
 (12, 3, 2, 95.2),
 (13, 3, 3, 94.2),
 (14, 3, 4, 93.2),
 (15, 3, 5, 92.2),
 (16, 4, 1, 91.3),
 (17, 4, 2, 90.3),
 (18, 4, 3, 89.3),
 (19, 4, 4, 88.3),
 (20, 4, 5, 87.3),
 (21, 5, 1, 84.4),
 (22, 5, 2, 83.4),
 (23, 5, 3, 82.4),
 (24, 5, 4, 81.4),
 (25, 5, 5, 80.4),
 (26, 6, 4, 75),
 (27, 1, 1, 100),
 (28, 1, 2, 99),
 (29, 1, 3, 98),
 (30, 1, 4, 97),
 (31, 1, 5, 96),
 (32, 2, 1, 99.1),
 (33, 2, 2, 98.1),
 (34, 2, 3, 97.1),
 (35, 2, 4, 96.1),
 (36, 2, 5, 95.1),
 (37, 3, 1, 96.2),
 (38, 3, 2, 95.2),
 (39, 3, 3, 94.2),
 (40, 3, 4, 93.2),
 (41, 3, 5, 92.2),
 (42, 4, 1, 91.3),
 (43, 4, 2, 90.3),
 (44, 4, 3, 89.3),
 (45, 4, 4, 88.3),
 (46, 4, 5, 87.3),
 (47, 5, 1, 84.4),
 (48, 5, 2, 83.4),
 (49, 5, 3, 82.4),
 (50, 5, 4, 81.4),
 (51, 5, 5, 80.4)]

def add_student(name, class, dept_id)<br>
def add_subject(subject_name, dept_id)<br>
def add_marks(student_id, subject_id, marks)<br>
def show_students() → Display students with department name (JOIN)<br>
def show_subjects() → Display all subjects with their department<br>
def show_marks() → Display each student’s marks with subject names (JOIN)<br>
def student_report(student_id) → Show subject-wise marks, total, average, grade, pass/fail<br>
def toppers() → Show topper in each subject + overall topper<br>
def department_summary() → Show average marks department-wise (JOIN + GROUP BY)<br>
def unique_subjects() → Return unique subjects as a set

In [24]:
def add_student(name, class_level, dept_id):
    cur.execute("INSERT INTO students(name, class, dept_id) VALUES (?,?,?)", (name,class_level,dept_id))
    conn.commit()
def add_subject(subject_name, dept_id):
    cur.execute("INSERT INTO subjects(subject_name, dept_id) VALUES (?,?)", (subject_name,dept_id))
    conn.commit()
def add_marks(student_id, subject_id, mark):
    cur.execute("INSERT INTO marks(student_id, subject_id, mark) VALUES (?,?,?)", (student_id, subject_id, mark))
    conn.commit()
def show_students():# Display students with department name (JOIN)
    return cur.execute("""SELECT s.student_id, s.name, s.class, d.dept_name FROM students s 
                       LEFT JOIN departments d on s.dept_id = d.dept_id""").fetchall()
def show_subjects(): # Display all subjects with their department
    return cur.execute("SELECT * FROM subjects").fetchall()
def show_marks(): # Display each student’s marks with subject names (JOIN)
    return cur.execute("""SELECT m.student_id, s.subject_name, m.mark FROM marks m 
                       LEFT JOIN subjects s on m.subject_id = s.subject_id""").fetchall()
def student_report(student_id): # Show subject-wise marks, total, average, grade, pass/fail
    report = cur.execute("""SELECT s.subject_name, SUM(m.mark) as total, AVG(m.mark) as average FROM marks m 
                         LEFT JOIN subjects s on m.subject_id = s.subject_id WHERE m.student_id = {}  
                         GROUP BY m.subject_id""".format(student_id)).fetchall()
    output = []
    for i in report:
        i_row = [i[0],i[1],i[2]]
        if(i[2] > 90):
            i_row.append('A')
            i_row.append('pass')
        elif(i[2] > 80):
            i_row.append('B')
            i_row.append('pass')
        elif(i[2] > 70):
            i_row.append('C')
            i_row.append('pass')
        elif(i[2] > 60):
            i_row.append('D')
            i_row.append('pass')
        else:
            i_row.append('F')
            i_row.append('fail')
        output.append(i_row)
    return output
def toppers(): # Show topper in each subject + overall topper
    output = cur.execute("""SELECT sub.subject_name, st.name, MAX(m.mark) FROM marks m 
                         LEFT JOIN subjects sub on m.subject_id = sub.subject_id 
                         INNER JOIN students st on m.student_id = st.student_id GROUP BY sub.subject_name""").fetchall()
    output.append(cur.execute("""SELECT st.name, AVG(m.mark) as ave FROM marks m 
                              INNER JOIN students st on m.student_id = st.student_id 
                              GROUP BY st.name ORDER BY ave DESC""").fetchall()[0])
    return output
def department_summary(): # Show average marks department-wise (JOIN + GROUP BY)
    return cur.execute("""SELECT d.dept_name, AVG(m.mark) FROM marks m 
                       LEFT JOIN subjects sub on m.subject_id = sub.subject_id 
                       INNER JOIN departments d on sub.dept_id = d.dept_id GROUP BY d.dept_name""").fetchall()
    
def unique_subjects(): # Return unique subjects as a set
    return cur.execute("SELECT DISTINCT subject_name, dept_id  FROM subjects").fetchall()

In [25]:
student_report(1)

[['Advanced Platonics', 200, 100.0, 'A', 'pass'],
 ['Linear Algebra', 198, 99.0, 'A', 'pass'],
 ['Calc II', 196, 98.0, 'A', 'pass'],
 ['Philosophy 101', 194, 97.0, 'A', 'pass'],
 ['Thermodynamics', 192, 96.0, 'A', 'pass']]

In [26]:
toppers()

[('Advanced Platonics', 'Margaret', 100),
 ('Calc II', 'Margaret', 98),
 ('Linear Algebra', 'Margaret', 99),
 ('Philosophy 101', 'Margaret', 97),
 ('Thermodynamics', 'Margaret', 96),
 ('Margaret', 98.0)]

In [27]:
department_summary()

[('English', 91.85714285714286), ('Math', 91.86666666666666)]

In [28]:
unique_subjects()

[('Advanced Platonics', 10111),
 ('Linear Algebra', 10001),
 ('Calc II', 10001),
 ('Philosophy 101', 10111),
 ('Thermodynamics', 10001)]

In [29]:
show_students()

[(1, 'Margaret', '3', 'English'),
 (2, 'Robert', '2', 'Math'),
 (3, 'Jenna', '1', 'Math'),
 (4, 'Timothy', '4', 'English'),
 (5, 'Thomas', '1', 'English'),
 (6, 'Bryce', '4', 'Math'),
 (7, 'Margaret', '3', 'English'),
 (8, 'Robert', '2', 'Math'),
 (9, 'Jenna', '1', 'Math'),
 (10, 'Timothy', '4', 'English'),
 (11, 'Thomas', '1', 'English')]

In [30]:
add_student("Bryce", 4, 10001)
show_students()

[(1, 'Margaret', '3', 'English'),
 (2, 'Robert', '2', 'Math'),
 (3, 'Jenna', '1', 'Math'),
 (4, 'Timothy', '4', 'English'),
 (5, 'Thomas', '1', 'English'),
 (6, 'Bryce', '4', 'Math'),
 (7, 'Margaret', '3', 'English'),
 (8, 'Robert', '2', 'Math'),
 (9, 'Jenna', '1', 'Math'),
 (10, 'Timothy', '4', 'English'),
 (11, 'Thomas', '1', 'English'),
 (12, 'Bryce', '4', 'Math')]

In [31]:
add_subject("Calc II", 10001)
show_subjects()

[(1, 'Advanced Platonics', 10111),
 (2, 'Linear Algebra', 10001),
 (3, 'Calc II', 10001),
 (4, 'Philosophy 101', 10111),
 (5, 'Thermodynamics', 10001),
 (6, 'Calc II', 10001),
 (7, 'Advanced Platonics', 10111),
 (8, 'Linear Algebra', 10001),
 (9, 'Calc II', 10001),
 (10, 'Philosophy 101', 10111),
 (11, 'Thermodynamics', 10001),
 (12, 'Calc II', 10001)]

In [32]:
add_marks(6, 4, 75.0)
student_report(6)

[['Philosophy 101', 150, 75.0, 'C', 'pass']]

In [33]:
show_marks()

[(1, 'Advanced Platonics', 100),
 (1, 'Linear Algebra', 99),
 (1, 'Calc II', 98),
 (1, 'Philosophy 101', 97),
 (1, 'Thermodynamics', 96),
 (2, 'Advanced Platonics', 99.1),
 (2, 'Linear Algebra', 98.1),
 (2, 'Calc II', 97.1),
 (2, 'Philosophy 101', 96.1),
 (2, 'Thermodynamics', 95.1),
 (3, 'Advanced Platonics', 96.2),
 (3, 'Linear Algebra', 95.2),
 (3, 'Calc II', 94.2),
 (3, 'Philosophy 101', 93.2),
 (3, 'Thermodynamics', 92.2),
 (4, 'Advanced Platonics', 91.3),
 (4, 'Linear Algebra', 90.3),
 (4, 'Calc II', 89.3),
 (4, 'Philosophy 101', 88.3),
 (4, 'Thermodynamics', 87.3),
 (5, 'Advanced Platonics', 84.4),
 (5, 'Linear Algebra', 83.4),
 (5, 'Calc II', 82.4),
 (5, 'Philosophy 101', 81.4),
 (5, 'Thermodynamics', 80.4),
 (6, 'Philosophy 101', 75),
 (1, 'Advanced Platonics', 100),
 (1, 'Linear Algebra', 99),
 (1, 'Calc II', 98),
 (1, 'Philosophy 101', 97),
 (1, 'Thermodynamics', 96),
 (2, 'Advanced Platonics', 99.1),
 (2, 'Linear Algebra', 98.1),
 (2, 'Calc II', 97.1),
 (2, 'Philosophy 101', 96.1),
 (2, 'Thermodynamics', 95.1),
 (3, 'Advanced Platonics', 96.2),
 (3, 'Linear Algebra', 95.2),
 (3, 'Calc II', 94.2),
 (3, 'Philosophy 101', 93.2),
 (3, 'Thermodynamics', 92.2),
 (4, 'Advanced Platonics', 91.3),
 (4, 'Linear Algebra', 90.3),
 (4, 'Calc II', 89.3),
 (4, 'Philosophy 101', 88.3),
 (4, 'Thermodynamics', 87.3),
 (5, 'Advanced Platonics', 84.4),
 (5, 'Linear Algebra', 83.4),
 (5, 'Calc II', 82.4),
 (5, 'Philosophy 101', 81.4),
 (5, 'Thermodynamics', 80.4),
 (6, 'Philosophy 101', 75)]

In [34]:
conn.commit()
conn.close()